
/* Typography
--------------------------*/
body.site  {
  color:#5c6b80 !important;
}

#testimonial--buttons i, .content_section .contact-email a, .content_section .contact-address a, body.site h1,body.site h2,body.site h3,body.site h4,body.site h5,body.site h6, body.site a:hover {color:#4d7ea5;}

.header--inner .nav li a, .nf-form-cont .nf-form-title h3 {color:#4d7ea5 !important;}

.single article thumbnail img {
  -webkit-box-shadow: 5px 5px #4d7ea5 !important;
          box-shadow: 5px 5px #4d7ea5 !important;
  border: 1px solid #4d7ea5 !important; }


body.site a:active{color:#0f2a43;}

.content_section--testimonials .testimonial--client-name,.content_section--testimonials .testimonial--client-title, .content_section .contact-email .fas, .content_section .contact-address .fas, i#prev:hover, i#next:hover, .article__thumbnail:hover .article__thumbnail--overlay .reveal:before {color:#060b30;}

body.site a {color:#acd0e4 !important;}

.highlight {background:#4d7ea5 !important;}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d7ea5), to(#0f2a43)) !important;
  background-image: linear-gradient(#4d7ea5 0%, #0f2a43 100%) !important;
  -webkit-box-shadow: 1px 1px 3px #060b30 !important;
          box-shadow: 1px 1px 3px #060b30 !important; }

.primary-btn, .comment-reply-link, #submit, input[type="submit"], .nf-field-element input[type=button] {
  background-color: #4d7ea5 !important; }
  .primary-btn:hover, .comment-reply-link:hover, #submit:hover, .primary-btn:focus, .comment-reply-link:focus, #submit:focus, input[type="submit"]:hover, input[type="submit"]:focus, .nf-field-element input[type=button]:hover, .nf-field-element input[type=button]:focus {
    background-color: #0f2a43 !important; }
  .primary-btn:active, .comment-reply-link:active, #submit:active, input[type="submit"]:active, .nf-field-element input[type=button]:active {
    background-color: #4d7ea5 !important; }

  .article__thumbnail--overlay .reveal {
    background-color: #4d7ea5 !important;}

  .footer {background-color:#0f2a43 !important; }
